In [70]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [71]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2021-04-08 17:02:08,-54.8000,-68.3000,44.60,65,40,26.46
1,1,Hithadhoo,MV,2021-04-08 17:02:08,-0.6000,73.0833,83.53,67,23,14.18
2,2,Torbay,CA,2021-04-08 17:02:09,47.6666,-52.7314,43.00,100,90,18.41
3,3,Saskylakh,RU,2021-04-08 17:02:09,71.9167,114.0833,-10.23,99,100,6.51
4,4,Fairbanks,US,2021-04-08 17:00:18,64.8378,-147.7164,8.01,85,90,6.91

In [72]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [73]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [74]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [75]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [76]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [77]:
# Heatmap of percent clouds
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [78]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [79]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [80]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Hithadhoo,MV,2021-04-08 17:02:08,-0.6000,73.0833,83.53,67,23,14.18
8,8,Port-Gentil,GA,2021-04-08 17:02:10,-0.7193,8.7815,86.00,74,20,13.80
9,9,Puerto Ayora,EC,2021-04-08 17:02:11,-0.7393,-90.3518,84.20,70,20,13.80
15,15,Kununurra,AU,2021-04-08 17:02:13,-15.7667,128.7333,75.20,88,75,1.14
24,24,Bathsheba,BB,2021-04-08 17:02:16,13.2167,-59.5167,86.00,54,40,13.80
25,25,Butaritari,KI,2021-04-08 17:02:17,3.0707,172.7902,81.48,80,57,16.33
26,26,Rikitea,PF,2021-04-08 17:02:17,-23.1203,-134.9692,76.28,61,47,0.83
28,28,Faanui,PF,2021-04-08 17:02:18,-16.4833,-151.7500,81.48,68,15,12.33
29,29,Namibe,AO,2021-04-08 17:02:18,-15.1961,12.1522,78.75,76,68,15.99
30,30,Bengkulu,ID,2021-04-08 17:02:18,-3.8004,102.2655,76.14,90,97,5.70

In [81]:
preferred_cities_df.count()

City_ID       196
City          196
Country       194
Date          196
Lat           196
Lng           196
Max Temp      196
Humidity      196
Cloudiness    196
Wind Speed    196
dtype: int64

In [82]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
1      Hithadhoo      MV     83.53  -0.6000   73.0833
8    Port-Gentil      GA     86.00  -0.7193    8.7815
9   Puerto Ayora      EC     84.20  -0.7393  -90.3518
15     Kununurra      AU     75.20 -15.7667  128.7333
24     Bathsheba      BB     86.00  13.2167  -59.5167
25    Butaritari      KI     81.48   3.0707  172.7902
26       Rikitea      PF     76.28 -23.1203 -134.9692
28        Faanui      PF     81.48 -16.4833 -151.7500
29        Namibe      AO     78.75 -15.1961   12.1522
30      Bengkulu      ID     76.14  -3.8004  102.2655

In [83]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [84]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try :
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found....skipping.")

Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.
Hotel not found....skipping.

In [92]:
hotel_df.columns

Index(['City', 'Country', 'Max Temp', 'Lat', 'Lng', 'Hotel Name'], dtype='object')

In [86]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [89]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [90]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))